.itinarary__body--Hawaii h1{
color: white;
font-size: 90px;
justify-content: flex-start;
padding: 130px 0 0 100px;
}

.itinarary__body--greece h1{
    color: white;
    font-size: 90px;
    justify-content: flex-start;
    padding: 130px 0 0 100px;
    }


    .itinarary__body--iceland h1{
        color: white;
        font-size: 90px;
        justify-content: flex-start;
        padding: 130px 0 0 100px;
        }
/* itinarary section begins */
/* actual background of the main hero section */
.itinarary__body--Hawaii {
    background-image: url('/assets/Images/hawaii.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:0 50%;
    overflow: hidden;
    height: 800px;
    display: flex;
    flex-direction: column;
    
}

.itinarary__body--greece {
    background-image: url('/assets/Images/greece.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:0 50%;
    overflow: hidden;
    height: 800px;
    display: flex;
    flex-direction: column;
    
}

.itinarary__body--iceland {
    background-image: url('/assets/Images/iceland.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:0 50%;
    overflow: hidden;
    height: 800px;
    display: flex;
    flex-direction: column;
    
}

.itinarary__container {
    display: flex;
    justify-content: center;
    width: 25%;
    margin: auto;
}
/* actual container for the itinarary card */
.itinarary__card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-left: 25%;
    background-color: white;
    width: 30vh;
    border-radius: 5px;
}

/* inside design of the itinarary card */
.itinarary__schedule {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 800px;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

/* only the actual border */
.itinarary__schedule__weekday--border {
    border-bottom: 2px solid black;
    margin: .625rem;
    width: 80%;
}

.itinarary__schedule ul {
    width: 100%;
    margin: 0 -0.625rem;
}

/* actual background of each activity */
.itinarary__schedule li {
    max-width: 90%;
    background-color: #FEFAF5;
    margin: 10%;
padding: 5%;
}

